---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "AI Image Enhancement for Stock Success",
    description:
      "Elevate your visuals with AI, ensuring clarity and vibrancy. Automatically upload to Adobe Stock for effortless monetization.",
       icon: "bx:bxs-window-alt",
  },
  {
    title: "Effortless Uploads, Maximum Impact",
    description:"Streamline your workflow. Our AI tool upscales and clarifies images, optimizing them for success on Adobe Stock. Unleash your creativity.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Tailored Subscriptions, Limitless Earnings",
    description:"Choose from three subscription packages. Each grants credits for AI-generated images on Adobe Stock. Customize your plan, maximize your profits.",
    icon: "bx:bxs-data",
  },
  {
    title:"Precision Upscaling for Stunning Results",
    description:
      "Witness the transformation. Our AI meticulously upscales images, enhancing details for crisp, clear, and vibrant visuals. Elevate your stock portfolio.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Automated Monetization Made Simple",
    description:
      "Enjoy hands-free income. Our AI tool automates image uploads to your Adobe Stock account. Let your creations earn for you effortlessly.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Unlock Credits, Fuel Your Success",
    description:
      "Power your stock journey. Select a subscription, receive credits, and exchange them to have the AI tool upload high-quality images to Adobe Stock.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Seamless Creativity: AI, Images, Profits Soar!
  </h2>
  <p class="text-lg mt-4 text-slate-600">
 Transform ideas into profit with AI-generated images on Adobe Stock. Start earning today!
</p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
